@namespace C64.FrontEnd.Shared
<div align="center">
    <form method="post" action="/user/thewall">
        <input type="password" name="password" /><button type="submit">Ok</button>
    </form>
</div>