@page "/help/about"
<PageTitle Title="About C64.CH" />
<Box MarginBottom="4">
    <Title>About C64.CH</Title>
    <Content>
        <div class="text-center">
            'In 1969, you needed the Power of two C64 to land on the Moon,
            in 2001 you need the Power of a Pentium III just to run Windows.'
        </div>
        <div class="text-right">Lubber/Padua [Embryo]</div>
        <div align="center" class="pt-4">
            <table class="table table-borderless w-75">
                <tr>
                    <td>C64.CH is..</td>
                    <td>Sabbi</td>
                    <td>Founder and Webmaster</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Markus Sinalco</td>
                    <td>Submissions</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Earthshaker</td>
                    <td>Submissions and News</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Baracuda</td>
                    <td>Submissions and News</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Robocop</td>
                    <td>Sceneresponsible (inactive)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Troublemaker</td>
                    <td>Submissions (inactive)</td>
                </tr>

                <tr>
                    <td></td>
                    <td>Axis</td>
                    <td>Submissions (inactive)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Jack Alien</td>
                    <td>Submissions (inactive)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Secret Man</td>
                    <td>Submissions (inactive)</td>
                </tr>
            </table>
        </div>
    </Content>
</Box>
<Box>
    <Title>About</Title>
    <Content>
        <p>And in 2020, you need to power of a multicore 64bit CPU just to run this homepage!</p>
        <p>C64.CH started in 1998 as one of the first websites dedicated to the C64-Demoscene, although me (Sabbi) never actually was active in that scene - but when I saw "Second Reality/Smash Designs" by chance, it made me fell for C64-Demos instantly. As I was just entering the world of web development, I registered c64.ch and started making the webpage.</p>
        <p>The <b>first</b> version was created in late 1998 on ASP (VBScript), running on Windows with SQL-Server. While the source is lost, The WayBackMachine still has some <a href="http://web.archive.org/web/19991129052330/http://c64.ch/" target="_blank" rel="noopener">versions</a> of it. It was quite a simple page, but bits and pieces of the database-layout survive till the present day.</p>
        <p>For the <b>second</b> <a href="http://web.archive.org/web/20010208122521/http://c64.ch/" target="_blank" rel="noopener">version</a> - created somewhen around Y2K+1 - I switched to PHP/MySql, and the database stayed more or less the same until 2019.</p>
        <p>The <b>third</b> <a href="http://web.archive.org/web/20030621235809/http://c64.ch/" target="_blank" rel="noopener">version</a> was released soon after, featuring some interesting features like having your own color-scheme for the page. There are still some flaws in the database, like not having real many-to-many relations (e.g. semicolon-separated values and such).</p>
        <p>The <b>fourth</b> <a href="http://web.archive.org/web/20170708044224/http://www.c64.ch/" target="_blank" rel="noopener">version</a>, still on PHP/MySQL, stayed online for more than 10 years without any major updates to the code, but with the help of Robocop, Jack Alien, Markus Sinalco, Earthshaker, Troublemaker, Axis and Secret Man, we managed to add more than 7000 demos to it. Even a local newspaper did <a href="/images/boettl.pdf" target="_blank" rel="noopener">some reporting about us (in German)</a>.</p>
        <p>Then the time came, when life just got in the way, and other portals like CSDB had the better instinct of creating a real "Web 2.0" page with user contributions instead of only having dedicated moderators. So c64.ch was downgraded to one of the many pages not maintained anymore.</p>
        <p>It's 2020 now, and c64.ch was left behind without no real updates for 7 years - which finally broke my heart. As I work with .NET now, I thought c64.ch could be a good playground to try out something new and to explore some new concepts and tricks. So I completely redesigned the database and created this <b>fifth</b> version of c64.ch</p>
        <p>
            It runs on <a href="/help/technical">ASP.NET Core with Blazor, backed by MySql on Linux</a> - a bit of a unconventional, but very powerful, combination. Also for the first time, the source code for the page is available on <a href="https://github.com/Sabbi/C64.CH" target="_blank" rel="noopener">GitHub</a> (where else...).So if you think something is missing here, fork the repository and do a pull request :).
        </p>
        <p>As of now, it's far from feature complete, but basically just an updated version four with little features added. So there is more to come, stay tuned and check the <a href="/help/changelog">changelog</a> regularly!</p>
        <p>As you see above, it's not really a large team at the moment - so if you have some spare time and anything to contribute, contact me at <a href="mailto:webmaster@c64.ch">webmaster@c64.ch</a>. </p>
        <p class="float-right">
            Sabbi / C64.CH
            <br />
            <img src="/images/me300.jpg" alt="Me" widht="300" height="335" />
        </p>
    </Content>
</Box>