@page "/help/changelog"

@inject IUnitOfWork unitOfWork

<Box>
    <Title>Changelog</Title>
    <Content>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Changes</th>
            </tr>
            @foreach (var change in entries.GroupBy(p => p.Date))
            {
                <tr>
                    <td>@change.Key.ToShortDateString()</td>
                    <td>
                        <ul>
                            @foreach (var entry in change)
                            {
                                <li>@entry.Change</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </table>
    </Content>
</Box>
@code{

    private IEnumerable<ChangeLogEntry> entries = new HashSet<ChangeLogEntry>();

    protected override void OnInitialized()
    {
        entries = unitOfWork.ChangeLogs.GetAll().OrderByDescending(p => p.Date);
    }
}