@page "/help/contact"
@inject IJSRuntime jsRuntime
@inject IEmailSender mailSender

<PageTitle Title="Contact" />
<Box>
    <Title>Contact</Title>
    <Content>
        <p>You may contact the webmasters for whatever reason using the following high-tech-high-speed inventions of the late 20th Century:</p>
        <div class="row">
            <div class="col-12"><b>Sabbi</b></div>
            <div class="col-6">E-Mail:</div>
            <div class="col-6">
                <a href="javascript:location='mailto:\u0064\u0040\u0063\u0036\u0034\u002e\u0063\u0068';void 0">
                    &#100;&#64;c64&#46;c&#104;
                </a>
            </div>
            <div class="col-6">ICQ:</div>
            <div class="col-6">91308253</div>
        </div>

        <p class="mt-4">You also can send a feedback <a href="/help/feedback">here</a> or make a contribution <a href="/help/contribute">here</a>!</p>
    </Content>
</Box>