@page "/help/donations"

<PageTitle Title="Donations" />
<Box MarginBottom="4">
    <Title>Moneytary donations</Title>
    <Content>
        <p>Thank you for visiting this page!</p>
        <p>There is just one problem: We do not need moneytary donations! The site was created <a href="/help/technical">with free software, running on free software</a>. The only expense is for the server itself, which is a very moderate fee.</p>
        <p>However, if you want do something good, consider spending some $$$ to these - or any other - aid organisations - they deserve it much more than we do:</p>
        <ul>
            <li><a href="https://www.amnesty.ch/" target="_blank" rel="noopener">Amnesty International</a></li>
            <li><a href="https://www.msf.ch" target="_blank" rel="noopener">Ärzte ohne Grenzen / Médecins Sans Frontières (MSF)</a></li>
            <li><a href="https://www.edm.ch/" target="_blank" rel="noopener">Enfants du Monde</a></li>
            <li><a href="https://www.fluechtlingshilfe.ch/" target="_blank" rel="noopener">Schweizerische Flüchtlingshilfe / Swiss Refugee Council</a></li>
        </ul>
    </Content>
</Box>
<Box>
    <Title>Other than monetary donations</Title>
    <Content>
        <p>
            Time is always an issue! If you could spare some of yours and be a part of c64.ch, it would help us very much. If you wish to
            <ul>
                <li>be a moderator and take care everything is cosy around here</li>
                <li>keep the database up-to-date with new submissions</li>
                <li>update the current productions, adding videos, screenshots etc.</li>
                <li>help designing the page</li>
                <li>help coding new features</li>
                <li>do anything helpful</li>
            </ul>
            please contact me at <a href="mailto:webmaster@c64.ch">webmaster@c64.ch</a>
        </p>
    </Content>
</Box>