@page "/help/technical"

<PageTitle Title="Technical" />
<Box>
    <Title>About C64.CH - Technical Information</Title>
    <Content>
        <h4>Hardware</h4>
        <ul><li><a href="https://ubuntu.com/" target="_blank" rel="noopener">Ubuntu</a> 20.04, 4 CPU-Cores/8GB Ram on a VPS (Virtual Private Server), 200Mbit Port-Speed</li></ul>
        <h4>Webserver</h4>
        <ul><li><a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-3.0" target="_blank" rel="noopener">KESTREL</a> with <a href="https://www.nginx.com/" target="_blank" rel="noopener">NGINX</a> (Proxy, SSL)</li></ul>
        <h4>CDN</h4>
        <ul><li><a href="https://www.cloudflare.com/" target="_parent" rel="noopener">CloudFlare</a></li></ul>
        <h4>Server Software / Frameworks</h4>
        <ul>
            <li><a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank" rel="noopener">.NET 5.0</a></li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-5.0" target="_blank" rel="noopener">Blazor (Server Side)</a></li>
            <li><a href="https://www.mysql.com/" target="_blank" rel="noopener">MySQL</a></li>
        </ul>
        <h4>Used .NET packages and libraries (other than provided by Microsoft)</h4>
        <ul>
            <li><a href="https://github.com/SteveSandersonMS/BlazorInputFile" target="_blank" rel="noopener">BlazorInputFile</a></li>
            <li><a href="https://github.com/Blazored/Modal" target="_blank" rel="noopener">Blazored Modal</a></li>
            <li><a href="https://github.com/Blazored/Toast" target="_blank" rel="noopener">Blazored Toast</a></li>
            <li><a href="https://github.com/Blazored/Typeahead" target="_blank" rel="noopener">Blazored Typeahead</a></li>
            <li><a href="https://github.com/mariusmuntean/ChartJs.Blazor" target="_blank" rel="noopener">ChartJs.Blazor</a></li>
            <li><a href="https://github.com/Play-Zone/D64Reader" target="_blank" rel="noopener">D64 Reader</a></li>
            <li><a href="https://github.com/icsharpcode/SharpZipLib" target="_blank" rel="noopener">ICSharpCode.SharpZipLib</a></li>
            <li><a href="https://www.newtonsoft.com/json" target="_blank" rel="noopener">NewtonSoft Json.NET</a></li>
            <li><a href="https://github.com/lunet-io/markdig" target="_blank" rel="noopener">Markdig</a></li>
            <li><a href="https://www.nuget.org/packages/NETCore.MailKit/" target="_blank" rel="noopener">NETCore.Mailkit</a></li>
            <li><a href="https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql" target="_blank" rel="noopener">Pomelo.EntityFrameworkCore.MySql</a></li>
            <li><a href="https://serilog.net/" target="_blank" rel="noopener">Serilog</a></li>
        </ul>
        <h4>Used CSS / Javascript libraries</h4>
        <ul>
            <li><a href="https://getbootstrap.com/" target="_blank" rel="noopener">Bootstrap 4</a></li>
            <li><a href="https://developer.snapappointments.com/bootstrap-select/" target="_blank" rel="noopener">bootstrap-select</a></li>
            <li><a href="https://fontawesome.com/" target="_blank" rel="noopener">Font Awesome</a></li>
            <li><a href="https://fslightbox.com/" target="_blank" rel="noopener">Fullscreen Lightbox</a></li>
            <li><a href="https://jquery.com/" target="_blank" rel="noopener">jQuery</a></li>
            <li><a href="https://owlcarousel2.github.io/OwlCarousel2/" target="_blank" rel="noopener">Owl Carousel 2</a></li>
        </ul>
        <h4>Javascript VICE Emulation</h4>
        <ul>
            <li><a href="https://vice-emu.sourceforge.io/" target="_blank" rel="noopener">Vice - Versatile Commodore Emulator</a></li>
            <li><a href="https://github.com/rjanicek/vice.js/" target="_blank" rel="noopener">Emscripten Version of Vice 2.4 / rjanicek</a></li>
            <li><a href="https://sgeo.github.io/" target="_blank" rel="noopener">SGEO's Updated Emscripten build 3.2</a></li>
            <li><a href="https://github.com/db48x/emularity" target="_blank" rel="noopener">Emularity (VICELoader)</a></li>
        </ul>
        <h4>Used Software / Editors</h4>
        <ul>
            <li><a href="https://visualstudio.microsoft.com/de/vs/" target="_blank" rel="noopener">Visual Studio 2019</a></li>
            <li><a href="https://www.mysql.com/de/products/workbench/" target="_blank" rel="noopener">MySQL Workbench</a></li>
            <li><a href="https://www.gitkraken.com/git-client" target="_blank" rel="noopener">GitKraken</a></li>
            <li><a href="https://notepad-plus-plus.org/" target="_blank" rel="noopener">Notepad++</a></li>
            <li><a href="https://www.getpaint.net" target="_blank" rel="noopener">Paint.Net</a></li>
        </ul>
        <h4>Source Code</h4>
        <ul><li>The C64.CH source code is available as open source on GitHub: <a href="https://github.com/Sabbi/C64.CH" target="_blank" rel="noopener">https://github.com/Sabbi/C64.CH</a></li></ul>
    </Content>
</Box>