<div class="pb-4">
    <div class="mb-4">
        @if (Productions != null)
        {
            @foreach (var prod in Productions)
            {
                <div class="row p-1" style="background-color:@(counter % 2 == 0 ? BackgroundColor : BackgroundColorAlt)">
                    <div class="flex-column pl-1 pr-3">
                        <a href="/productions/@prod.ProductionId/@prod.Name.UrlEncode()">
                            <FirstProductionThumbnail Production="@prod" Size="ThumbnailSize.Thumbanil80x56" />
                        </a>
                    </div>
                    <div class="flex-column">
                        <p>
                            <a href="/productions/@prod.ProductionId/@prod.Name.UrlEncode()">
                                @prod.Name
                            </a>
                            by <MultiLinkJoiner LastSeparator=" and  " Separator=", " AlsoAddValue="true" MultiLinkJoinables="prod.GetCreatorLinks()" />
                        </p>
                        <p class="pb-0">
                            Credited for:<br />
                            @foreach (var scener in prod.ProductionCredits.Where(p => p.ScenerId == ScenerId))
                            {
                                <span>- @scener.Credit</span><br />
                            }
                        </p>
                    </div>

                    <hr />
                </div>
                counter++;
            }
        }
    </div>
</div>
@code {
    [Parameter]
    public string BackgroundColor { get; set; } = "#fffff";

    [Parameter]
    public string BackgroundColorAlt { get; set; } = "#f0f0f0";

    [Parameter]
    public IEnumerable<Production> Productions { get; set; }

    [Parameter]
    public int ScenerId { get; set; }

    private int counter = 0;
}