@page "/programming/onlinetools"

<MyPageTitle Title="Programming - Online Tools" />
<Box MarginBottom="4">
    <Title>Programming - Online Tools</Title>
    <Content>
        <h3>Calculators</h3>
        <ul>
            <li><a href="/programming/VICMCRC">VIC Memory Control Register ($d018) Calculator (Textmode)</a></li>
        </ul>
    </Content>
</Box>

@code {

}
