@page "/programming/sourcecodes"

<Box MarginBottom="4">
    <Title>Sourcecodes</Title>
    <Content>
        <p>Here you can find some sources for C64-Demos. The list is (still) small, but can grow with YOUR help!</p>
        <p>If you have any Sources from C64-Demos and wish to release them to the public, please <a asp-controller="Help" asp-action="Contribute">submit them here</a>.</p>
        <p>Except a more sophisticated Interface once we have some more content :)</p>
    </Content>
</Box>

<Box>
    <Title>The List</Title>
    <Content>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Coder/Group</th>
                <th>Date</th>
            </tr>
            <tr>
                <td><a target="_blank" href="/sources/KefrensWithoutGosub.zip">Kefrens Without Gosub</a></td>
                <td>Cyberbrain/NN</td>
                <td>2004-04-06</td>
            </tr>
            <tr>
                <td><a target="_blank" href="/sources/formula_too_simple.zip">Formula too Simple</a></td>
                <td>Resource</td>
                <td>2004-04-06</td>
            </tr>
            <tr>
                <td><a target="_blank" href="/sources/monolithsource.zip">Monolith</a></td>
                <td>FunkscientistL</td>
                <td>2004-02-19</td>
            </tr>
            <tr>
                <td><a target="_blank" href="/sources/yktr.zip">You Know The Routine</a></td>
                <td>Cruzer/CML</td>
                <td>2004-02-17</td>
            </tr>
            <tr>
                <td><a target="_blank" href="/sources/TooCoMplEx.zip">Too (C)o(M)p(L)ex (256 Bytes)</a></td>
                <td>Cruzer/CML</td>
                <td>2004-02-17</td>
            </tr>
            <tr>
                <td><a target="_blank" href="/sources/XtremeMegaComebackII.zip">Xtreme Mega Comeback II (256 Bytes)</a></td>
                <td>Cruzer/CML</td>
                <td>2004-02-17</td>
            </tr>
        </table>
    </Content>
</Box>