@page "/programming/tutorial"
@page "/programming/"

<PageTitle Title="Programming Tutorial" />
<Box MarginBottom="4">
    <Title>Programming-Tutorial</Title>
    <Content>
        <h3 class="text-center">C64 Assembler Tutorial</h3>
        <h4 class="text-center">by Cruzer/CML</h4>
        <p>Note: Project is currently freezed! If you're an experienced C64-ASM-Coder and wish to continue the tutorial, please <a asp-controller="help" asp-action="contribute">contact us</a>!</p>

        <h4>Basics</h4>
        <ul>
            <li><a href="/programming/intro">How to get started (MC-mon's/(Cross-)Assemblers/Hex)</a></li>
            <li><a href="/programming/move">Move Commands and other Basics</a></li>
            <li><a href="/programming/math">Math/arithmetic commands</a></li>
            <li>*Compare/Branch commands</li>
            <li>*Vic: Registers, Colors, scanlines, setting up gfx, sprites</li>
            <li>*Interrupt </li>
        </ul>

        <h4>Examples with comments</h4>
        <ul>
            <li>*Raster Bars</li>
            <li>*Multiplexing</li>
            <li>*FLI</li>
            <li>*Scrolling</li>
            <li>*Music</li>
            <li>*Sinus dots</li>
            <li>*Lines</li>
            <li>*Flood Filling</li>
            <li>*IRQ Loader</li>
        </ul>

        <h4>Optimizing your Code</h4>
        <ul>
            <li>*Rolling it out/specialized routines.</li>
        </ul>

        <h4>Printable Version</h4>
        <ul>
            <li>All-in-One (Printable Version of the whole Tutorial)</li>
        </ul>

        <p>For any Comments or Questions please <a asp-controller="help" asp-action="contribute">contact us</a>.</p>
    </Content>
</Box>

<Box>
    <Title>Documentation, Files and Links</Title>
    <Content>
        <ul>
            <li><a href="/programming/tadocs">Turbo-Assembler Documentation</a></li>
            <li><a href="/programming/ta-docsprnt.php" target="_blank">Turbo-Assembler Documentation (Printable)</a></li>
            <li><a target="_blank" href="/programming/turbo.zip">Turbo-Assembler Executable</a></li>
            <li><a target="_blank" href="http://turbo.style64.org/about-the-turbo-assembler-homepage" rel="nopener">Link: The Turbo Assembler Homepage</a></li>
        </ul>
        <ul>
            <li><a target="_blank" href="/programming/memorymap.html">C64 Memory Map (Printable Version)</a></li>
            <li><a target="_blank" href="/programming/c64prg10.txt" rel="noopener">C64 Programmers Reference Guide (Printable Version)</a></li>
        </ul>
        <ul>
            <li><a target="_blank" href="http://www.airport1.de/c64rgb.htm" rel="noopener">Link: Best Palette for Emulators (German)</a></li>
            <li><a target="_blank" href="https://www.retro-programming.de/programming/" rel="noopener">Link: Retro-Programming.de - German C64 Assembly Tutorial</a></li>
            <li><a target="_blank" href="http://www.airport1.de/life.htm" rel="noopener">Link: The fastest Game of Life on C64 ever (German)</a></li>
        </ul>
    </Content>
</Box>