@page "/"
@namespace C64.FrontEnd.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow">
    <meta name="generator" CONTENT="C64.CH">
    <meta name="author" content="Damian Puppetti" />
    <meta name="description" CONTENT="C64.CH - Download over 7000 C64-Productions. Emulators, News and much more.">
    <meta name="keywords" CONTENT="C64, commodore, 64, demos, demo, scene, news, sid, hardware, emulator, party, parties, competition, compo, asm, assembler, assembly, supercpu, scpu, gallery">
    <link rel="author" href="humans.txt" />
    <title>C64.CH - The C64 Demo Portal</title>
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="_content/Blazored.Typeahead/blazored-typeahead.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="_content/ChartJs.Blazor/ChartJSBlazor.css" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <environment include="Development">
        <!-- DEVELOPMENT -->
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <!-- RELEASE -->
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <br /><br />
        <environment exclude="Development">
            We're sorry, but an unhandled exception has occurred. Please reload the page.
        </environment>
        <environment include="Development">
            We're sorry, but an unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <br />
        <br />
        <img src="/img/skull.png" width="200" heigth="200" />
        <br /><br />
        <a href="/" class="reload">Reload</a>
        @*<a class="dismiss">🗙</a>*@
    </div>
    <script src="_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>
    <script src="_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>
    <script src="_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>
    <script src="_content/Blazored.Typeahead/blazored-typeahead.js"></script>
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>
    <script src="/js/browserfs.min.js"></script>
    <script src="/js/loader.min.js"></script>
    <environment include="Development">
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="/js/toastr.min.js"></script>
        <script src="/lib/fslightbox/fslightbox.js" asp-append-version="true"></script>
        <script src="/lib/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/site.js" asp-append-version="true"></script>
        <script src="/js/inputfile.es5.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/toastr.min.js"></script>
        <script src="/lib/fslightbox/fslightbox.js" asp-append-version="true"></script>
        <script src="/lib/owl-carousel/owl.carousel.min.js"></script>
        <script src="/js/site.min.js" asp-append-version="true"></script>
        <script src="/js/inputfile.es5.min.js" asp-append-version="true"></script>
    </environment>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>