@page "/groups2/{Id:int}"
@page "/groups2/{Id:int}/{GroupName}"

@inject IUnitOfWork unitOfWork
@inject NavigationManager navigationManager

@inject ILogger<Groups> logger

<Box>
    <Title>Productions by @group?.Name</Title>
    <Content>
        @if (group != null)
        {
            <div class="text-right"><Sorter Sorted="OnSorted" SorterData="@sorterData" /></div>
            <PaginatorRecordInfo CurrentPage="currentPage" PageSize="pageSize" TotalNumberOfRecords="totalNumberOfRecords" />
            <Paginator CurrentPage="currentPage" TotalAmountPages="totalNumberOfPages" SelectedPage="OnSelectPage"></Paginator>
            <div class="row">
                @foreach (var prod in productions)
                {
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                        <ProdInList Production="prod" />
                    </div>
                }
            </div>
            <PaginatorRecordInfo CurrentPage="currentPage" PageSize="pageSize" TotalNumberOfRecords="totalNumberOfRecords" />
            <Paginator CurrentPage="currentPage" TotalAmountPages="totalNumberOfPages" SelectedPage="OnSelectPage"></Paginator>
        }
        else
        {
            <p>Loading...</p>
        }
    </Content>
</Box>