@page "/"

@inject IUnitOfWork unitOfWork
@inject IJSRuntime jsRuntime

<MyPageTitle Title="Main" />
<Box>
    <Title><a href="/productions/demos/latestadded">Last added Demos</a></Title>
    <Content>
        @if (latestAdded?.Data != null)
        {
            <div class="owl-carousel">
                @foreach (var production in latestAdded.Data)
                {
                    <div class="col-12">
                        <ProdInList Production="production" NoWrapGroupName="true" ShowAdded="true" ShowReleased="false" ShowDownloads="false" ShowRating="false" />
                    </div>
                }
            </div>
        }
    </Content>
</Box>
<Box>
    <Title><a href="/productions/demos/latestreleased">Last released Demos</a></Title>
    <Content>
        @if (latestReleased?.Data != null)
        {
            <div class="owl-carousel">
                @foreach (var production in latestReleased.Data)
                {
                    <div class="col-12">
                        <ProdInList Production="production" NoWrapGroupName="true" ShowAdded="false" ShowDownloads="false" ShowRating="false" />
                    </div>
                }
            </div>
        }
    </Content>
</Box>
<SceneNews PageSize="3" ChangeUrl="false" />
<SiteNews PageSize="3" ChangeUrl="false" />

@code
{

    private PaginatedResult<Production> latestAdded;
    private PaginatedResult<Production> latestReleased;

    protected override async Task OnInitializedAsync()
    {
        latestAdded = await unitOfWork.Productions.GetPaginatedWithGroups(p => true, "Added", false, 1, 20);
        latestReleased = await unitOfWork.Productions.GetPaginatedWithGroups(p => true, "ReleaseDate", false, 1, 20);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRuntime.InvokeAsync<object>("initOwlCarousel");
            firstRender = false;

        }
    }
}