@page "/productions/demos/search"

@implements IDisposable

@inject IUnitOfWork unitOfWork
@inject NavigationManager navigationManager
@inject ILogger<SimpleSearch> logger

<MyPageTitle Title="@title" />
<Box>
    <Title>@title</Title>
    <Content>
        @if (productionIds != null)
        {
            <ProductionList ProductionIds="@productionIds" BaseUrl="@baseUrl" />
        }
    </Content>
</Box>

@code {

    private string Search { get; set; }

    private ICollection<int> productionIds;

    private string baseUrl => $"productions/demos/search";

    private string title => $"Searchresults for {Search}";

    protected override void OnInitialized()
    {
        navigationManager.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {

        var term = navigationManager.GetFromQueryString<string>("search");
        logger.LogInformation("Location Changed, search is now {search}", term);

        if (term != Search)
        {
            Search = term;
            await Load();
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        var term = navigationManager.GetFromQueryString<string>("search");
        Search = term;
        await Load();
    }

    private async Task Load()
    {
        var prodIds = (await unitOfWork.Productions.Find(p => p.Name.Contains(Search))).Select(p => p.ProductionId).ToList();
        var groups = await unitOfWork.Groups.Find(p => p.Name.Contains(Search));
        var sceners = await unitOfWork.Sceners.Find(p => p.Handle.Contains(Search));

        foreach (var group in groups.Take(20))
        {
            var groupProdsIds = (await unitOfWork.Groups.GetWithProductions(group.GroupId)).ProductionsGroups.Select(p => p.ProductionId);
            prodIds.AddRange(groupProdsIds);
        }

        // Released by Scener
        foreach (var scener in sceners.Take(20))
        {
            var scenerProdIds = (await unitOfWork.Sceners.GetWithProductions(scener.ScenerId)).ProductionsSceners.Select(p => p.ProductionId);
            prodIds.AddRange(scenerProdIds);
        }

        // Find productions where the search matches a credit
        foreach (var scener in sceners.Take(20))
        {
            var scenerProdIds = (await unitOfWork.Productions.GetForScener(scener.Id)).Select(p => p.ProductionId);
            prodIds.AddRange(scenerProdIds);
        }

        productionIds = prodIds;

        logger.LogInformation("Found Ids for {Search}: {@productionIds}", Search, productionIds);
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= OnLocationChanged;
    }
}