@inject IModalService Modal
@inject IUnitOfWork unitOfWork
@inject IToastService toastService
@inject HttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager

<a href="" @attributes="@AllOtherAttributes" @onclick="OpenAddGroupModal" @onclick:preventDefault>
    @Content
</a>

@code{
    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public Func<Task> ExecuteBefore { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    private async Task OpenAddGroupModal()
    {
        if (ExecuteBefore != null)
            await ExecuteBefore.Invoke();

        if (!CheckAccess())
            return;

        var parameters = new ModalParameters();
        parameters.Add(nameof(EditGroupModal.Group), new Group());
        parameters.Add(nameof(EditGroupModal.unitOfWork), unitOfWork);
        var reference = Modal.Show<AddGroupModal>("", parameters);
        var result = await reference.Result;

        if (!result.Cancelled)
            toastService.ShowSuccess($"Group added");
    }

    private bool CheckAccess()
    {
        if (!httpContextAccessor.HttpContext.IsLoggedIn())
        {
            Modal.Show<LoginModal>();
            return false;
        }

        if (!httpContextAccessor.HttpContext.CanEdit())
        {
            navigationManager.NavigateTo("/help/upgradeaccount");
            toastService.ShowInfo("Editing requires an updated account - please drop us a note to have your account updated!");
            return false;
        }

        return true;
    }
}