@inject IModalService Modal

@inject IUnitOfWork unitOfWork;

<a href="" @attributes="@AllOtherAttributes" @onclick="OpenAddProductionModal" @onclick:preventDefault>
    @Content
</a>

@code{
    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    private void OpenAddProductionModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditProductionModal.Production), new Production());
        parameters.Add(nameof(EditProductionModal.unitOfWork), unitOfWork);
        Modal.Show<AddProductionModal>("", parameters);
    }
}