@inject IModalService Modal
@inject IUnitOfWork unitOfWork
@inject IToastService toastService
@inject HttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager


<a href="" @attributes="@AllOtherAttributes" @onclick="OpenAddScenerModal" @onclick:preventDefault>
    @Content
</a>

@code{
    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public Func<Task> ExecuteBefore { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    private async Task OpenAddScenerModal()
    {

        if (ExecuteBefore != null)
            await ExecuteBefore.Invoke();

        if (!CheckAccess())
            return;

        var parameters = new ModalParameters();
        parameters.Add(nameof(C64.FrontEnd.Page.AddScenerModal.unitOfWork), unitOfWork);
        var reference = Modal.Show<C64.FrontEnd.Page.AddScenerModal>("", parameters);
        var result = await reference.Result;

        var scener = (Scener)result.Data;

        if (!result.Cancelled)
            toastService.ShowSuccess($"Scener {scener.Handle} added");
    }

    private bool CheckAccess()
    {
        if (!httpContextAccessor.HttpContext.IsLoggedIn())
        {
            Modal.Show<LoginModal>();
            return false;
        }

        if (!httpContextAccessor.HttpContext.CanEdit())
        {
            navigationManager.NavigateTo("/help/upgradeaccount");
            toastService.ShowInfo("Editing requires an updated account - please drop us a note to have your account updated!");
            return false;
        }

        return true;
    }

}