<div class="footer">
    <div class="container text-center">
        <p>
            &copy; 1998 - @DateTime.Now.Year - C64.CH, send comments and bugreports to <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#99;&#54;&#52;&#46;&#99;&#104;">&#119;&#101;&#98;&#109;&#97;&#115;&#116;&#101;&#114;&#64;&#99;&#54;&#52;&#46;&#99;&#104;</a><br />
            Made with <i class="red fas fa-heart"></i> in <a href="https://www.google.ch/maps/place/5647+Oberr%C3%BCti/@@47.161852,8.403491,304a,35y,301.31h,68.78t/data=!3m1!1e3!4m5!3m4!1s0x4790019219bbe5ef:0x21cb89b19d364c18!8m2!3d47.1659772!4d8.3944487" target="_blank" rel="noopener">Oberrüti</a>, Switzerland - Version
        </p>
    </div>
</div>