@inject IModalService Modal

<a href="" @attributes="@AllOtherAttributes" @onclick="OpenLoginModal" @onclick:preventDefault>
    @Content
</a>

@code{
    [Parameter]
    public RenderFragment Content { get; set; }

    [Parameter]
    public Func<Task> ExecuteBefore { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    private async Task OpenLoginModal()
    {
        if (ExecuteBefore != null)
            await ExecuteBefore.Invoke();

        Modal.Show<LoginModal>();
    }
}