@inherits LayoutComponentBase
    <BlazoredModal />
    <Header />
    <div class="container-fluid" style="max-width:1400px">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-12" style="padding-left:5px; padding-right:5px">
                    @Body
                </div>
            </div>
        </main>
    </div>
    <Footer />