@using Markdig
@using System.Text.RegularExpressions

@if (HtmlContent != null)
{
    @((MarkupString)HtmlContent)
}

@code {
    [Parameter]
    public string MarkdownContent { get; set; }

    private string HtmlContent;
    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(MarkdownContent))
        {
            var pipeline = new MarkdownPipelineBuilder().DisableHtml().UseTaskLists().Build();
            HtmlContent = Markdown.ToHtml(MarkdownContent, pipeline);

            HtmlContent = Regex.Replace(HtmlContent,
            @"((http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?)",
            "<a target='_blank' href='$1'>$1</a>");

            HtmlContent = HtmlContent.Replace("target='_blank' href='https://c64.ch/", "href='/");

        }
        else
        {
            HtmlContent = null;
        }
    }
}