@namespace C64.FrontEnd.Pages

@inject IModalService modal
@inject IUnitOfWork unitOfWork
@inject IHttpContextAccessor httpContextAccessor

@inject IJSRuntime jsRuntime

@if (ProductionFiles.Any(p => p.Show))
{
    @foreach (var download in ProductionFiles.Where(p => p.Show))
    {
        <DownloadProduction ProductionFile="@download" OnDownload="DownloadClicked" />
        @if (download.IsArchive)
        {
            <p>
                <a href="#" @onclick="(() => ShowFileContents(download.ProductionFileId, download.Filename))" @onclick:preventDefault><i class="far fa-list-alt"></i> Show File-Contents</a>
            </p>
            <p>
                <a href="#" @onclick="(() => StartEmulator(download.ProductionFileId))" @onclick:preventDefault><i class="fas fa-gamepad"></i> Emulate in Browser (Experimental)</a><br />
            </p>
        }
        <hr />
    }

    @if (ProductionFiles.Any(p => p.Show && p.IsArchive))
    {
        <div class="row">
            <div class="col-12">
                Emulator-Settings:
            </div>
            <div class="col-6">
                <select @bind="sidModel" class="form-control">
                    <option value="0">Sid 6581</option>
                    <option value="1">Sid 8580</option>
                </select>
            </div>
            <div class="col-3">
                <input type="checkbox" @bind="driveSounds" id="driveSounds">&nbsp;<label for="driveSounds">Drive sounds</label>
            </div>
            <div class="col-3">
                <input type="checkbox" @bind="crtEmulation" id="crtEmulation">&nbsp;<label for="crtEmulation">CRT emulation</label>
            </div>
        </div>
    }
}
else
{
    <p>Sorry, no downloads yet</p>
}

@code {
    [Parameter]
    public ICollection<ProductionFile> ProductionFiles { get; set; }

    [Parameter]
    public EventCallback<int> OnDownload { get; set; }

    private int _sidModel = 0;
    private bool _driveSounds = false;

    private bool _crtEmulation = false;

    private async Task DownloadClicked(int fileId)
    {
        await OnDownload.InvokeAsync(fileId);
    }

    private bool crtEmulation
    {
        get
        {
            return _crtEmulation;
        }
        set
        {
            _crtEmulation = value;
            jsRuntime.SetInLocalStorage("CrtEmulation", crtEmulation.ToString());
        }
    }

    private int sidModel
    {
        get
        {
            return _sidModel;
        }

        set
        {
            _sidModel = value;
            jsRuntime.SetInLocalStorage("SidModel", sidModel.ToString());
        }
    }

    private bool driveSounds
    {
        get
        {
            return _driveSounds;
        }
        set
        {
            _driveSounds = value;
            jsRuntime.SetInLocalStorage("DriveSounds", _driveSounds.ToString());
        }
    }

    private void ShowFileContents(int productionFileId, string productionFilename)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(FileContents.ProductionFileId), productionFileId);
        parameters.Add(nameof(FileContents.ProductionFilename), productionFilename);

        modal.Show<FileContents>("Contents of " + productionFilename, parameters);
    }

    private async Task StartEmulator(int productionFileId)
    {
        var productionFile = await unitOfWork.Productions.GetFile(productionFileId);

        await jsRuntime.SetInLocalStorage("SidModel", sidModel.ToString());
        await jsRuntime.SetInLocalStorage("DriveSounds", driveSounds.ToString());

        await unitOfWork.Productions.AddDownload(productionFile.Filename, httpContextAccessor.HttpContext.RemoteIp(), httpContextAccessor.HttpContext.Referer(), httpContextAccessor.HttpContext.GetUserId());
        await unitOfWork.Commit();

        await OnDownload.InvokeAsync(productionFileId);

        var parameters = new ModalParameters();
        parameters.Add(nameof(EmuModal.ProductionFile), productionFile);
        parameters.Add(nameof(EmuModal.SidModel), sidModel);
        parameters.Add(nameof(EmuModal.DriveSounds), driveSounds);
        parameters.Add(nameof(EmuModal.CrtEmulation), crtEmulation);

        var reference = modal.Show<EmuModal>("", parameters);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Set to enabled if no data present in localstorage
            _crtEmulation = true;

            if (int.TryParse(await jsRuntime.GetFromLocalStorage("SidModel"), out int parsedModel))
                _sidModel = parsedModel;

            if (bool.TryParse(await jsRuntime.GetFromLocalStorage("DriveSounds"), out bool parsedSounds))
                _driveSounds = parsedSounds;

            if (bool.TryParse(await jsRuntime.GetFromLocalStorage("CrtEmulation"), out bool parsedCrtEmulation))
                _crtEmulation = parsedCrtEmulation;

            StateHasChanged();
        }
    }
}