@namespace C64.FrontEnd.Pages

@inject Microsoft.AspNetCore.Http.HttpContextAccessor httpContext
@inject IJSRuntime jsRuntime
@inject IUnitOfWork unitOfWork
@inject IFallbackArchiveService archiveService
@inject IFileStorageService fileStorageService

@using C64.Services.ViceLoader
@using System.Timers;

@implements IDisposable

<BootstrapModal @ref="bootstrapModal" Title="@title" Size="BootstrapModal.ModalSize.Large">
    <Content>
        <p class="float-right">
            @if (started)
            {
                if (showDiskChange)
                {
            <button class="btn btn-primary invisible emulator-control" type="button" disabled="@nextDiskDisabled" @onclick="NextDisk">Insert Next Disk</button>
                }

            <text>&nbsp;</text><button class="btn btn-primary invisible emulator-control" type="button" @onclick="FullScreen">Go fullscreen</button>
            }
        </p>
        <div id="emularity-splash-screen"></div>
        <canvas id="canvas" style="display: none; margin: 0 auto; background-color:#eeeeee" />
        <ul>
            <li>To insert next disk, click button OR press Alt-N. F12 to enter Vice-Menu (data in emulator-folder)</li>
            <li>Alt-W to speed up, Joystick = Keypad+0, press ALT-J to switch ports, ESC or Alt-Tab to get back your mouse cursor</li>
        </ul>
    </Content>
</BootstrapModal>

@code {

    [Parameter]
    public ProductionFile ProductionFile { get; set; }

    [Parameter]
    public int SidModel { get; set; } = 0;

    [Parameter]
    public bool DriveSounds { get; set; } = false;

    [Parameter]
    public bool CrtEmulation { get; set; } = false;

    private bool nextDiskDisabled = false;
    private bool showDiskChange = false;

    private Timer timer = new Timer();

    private BootstrapModal bootstrapModal;
    private string title = "";

    private bool started = false;

    protected override void OnInitialized()
    {
        title += $"Emulating  {ProductionFile.Filename}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        // Concurrent connections otherwise, I don't know why (yet)
        byte[] fileData = null;
        try
        {
            fileData = await fileStorageService.GetFileContents("productionfiles", ProductionFile.Filename);
        }
        catch
        {
            try
            {
                System.Threading.Thread.Sleep(50);
                fileData = await fileStorageService.GetFileContents("productionfiles", ProductionFile.Filename);
            }
            catch
            {
                return;
            }
        }

        var viceLoader = new DefaultViceLoader(archiveService);
        var emuParmeters = viceLoader.ProcessFile(ProductionFile.ProductionFileId, ProductionFile.Filename, fileData);
        await jsRuntime.InvokeVoidAsync(emuParmeters.SetupEmu, emuParmeters.SetupEmuParameters, SidModel, DriveSounds ? "1" : "0", 1000, CrtEmulation ? "1" : "0");
        await jsRuntime.InvokeVoidAsync("startEmu");

        showDiskChange = emuParmeters.enableDiskChange;

        started = true;
        StateHasChanged();
    }

    private async Task Start()
    {
        await jsRuntime.InvokeVoidAsync("startEmu");
        started = true;
    }

    public void Dispose()
    {
        timer.Dispose();
        jsRuntime.InvokeVoidAsync("exitEmu");
    }

    public async Task FullScreen()
    {
        await jsRuntime.InvokeVoidAsync("goFullScreen");
    }

    public async Task NextDisk()
    {
        nextDiskDisabled = true;
        StateHasChanged();

        await jsRuntime.InvokeVoidAsync("insertNextDisk");

        System.Threading.Thread.Sleep(1000);

        nextDiskDisabled = false;
        StateHasChanged();
    }
}